<h2>Recipe Search Results</h2>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li>
                <h2><%= recipe.title %></h2>
                <a href="/recipes/<%= recipe.id %>">View Recipe</a>
                <img src="<%= recipe.image %>" alt="<%= recipe.title %>" />
                <p>Missed Ingredients:</p>
                <ul>
                    <% recipe.missedIngredients.forEach(ingredient => { %>
                        <li><%= ingredient.name %>: <%= ingredient.amount %> <%= ingredient.unit %></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
