<div class="container">
  <h1><%= recipe.title %></h1>
      <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
      <p><%- recipe.summary %></p>
      <h2>Ingredients</h2>
      <ul>
          <% recipe.extendedIngredients.forEach(ingredient => { %>
              <li><%= ingredient.original %></li>
          <% }); %>
      </ul>
      <h2>Instructions</h2>
      <p><%= recipe.instructions %></p>
      <a href="/recipes/create">Back to search</a>
  </div>
